/* ProductDetails.module.css */
.productcard {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

.productImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.productdetails {
  margin-left: 16px;
}

.producttitle {
  font-size: 20px;
  font-weight: bold;
}

.productdescription {
  margin-top: 8px;
}

.productprice {
  margin-top: 8px;
  font-weight: bold;
}
